<body>

<h1 class="text-center mt-4 text-black">Categories</h1>

<div class="flickr_pagination mb-4">
  <%= will_paginate @Categories , :container => false %>
</div>

<div id="page-content">
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <%for cat in @Categories %>
        <div class="card text-center mt-4">
          <div class="card-body">
            <h5 class="card-title"><%= link_to cat.name, cat ,class:"text-success"%></h5>
            <p class="card-text"><%= pluralize(cat.articles.count, "article")%></p>
            
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
</div>



</body>